// Custom styles.



img{
  margin: 20px auto !important;
}
.site-meta,
.headband{
  background: $primary-bg-color;
}
.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
post-title{
  color: $primary-color;
}

.posts-expand .post-eof,
.posts-expand .post-title-link::before{
  background-color: $primary-color;
}

.links-of-author-item{
  text-align:center;
}

@media (max-width: 767px) {
  .posts-expand .post-meta{
    margin-bottom: 15px;
  }
  .post-more-link{
    margin-top: 15px;
  }
  .posts-expand .post-eof{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p{
    margin-bottom: 15px;
  }
  .posts-expand .post-body h2{
    margin: 15px 0 10px;
  }
  .post-body ol{
    margin-left: 10px;
    padding-left: 20px;
  }
}
