// Custom styles.



img{
  margin: 20px auto !important;
}
.site-meta,
.headband{
  background: $primary-bg-color;
}
.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body h5,
post-title{
  color: $primary-color;
}

.posts-expand .post-eof,
.posts-expand .post-title-link::before{
  background-color: $primary-color;
}
